html
  head
    title!= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/toastr.min.css')
    link(rel='stylesheet', type='text/css', href='/css/screen.css')
  body
    div(class="site-wrap")
      header
        div(class="navbar navbar-default", role="navigation")
          div(class="container-fluid")
            div(class="navbar-header")
              a(class="navbar-brand", href="#") Payments
            div(class="navbar-collapse collapse")
      div(class="app_root")
        div(class="container")
          div(class="row")
            div(class="col-sm-6 col-sm-offset-3")
              div(class="panel panel-primary")
                div(class="panel-heading relative")
                  span Payments Form
                  div(class='cc_card_type')
                div(class="panel-body")
                  form(class="payment_form")
                    div(class="well")
                      div(class='row')
                        div(class='col-sm-8')
                          input(type="text", class="form-control", id="cc_amount", placeholder="Amount")
                        div(class='col-sm-4')
                          select(class="form-control", id="cc_curr")
                            option(value="USD") USD
                            option(value="EUR") EUR
                            option(value="THB") THB
                            option(value="HKD") HKD
                            option(value="SGD") SGD
                            option(value="AUD") AUD
                      div(class='row')
                        div(class='col-sm-12')
                          input(type="text", class="form-control", id="cc_fullname", placeholder="Full Name")
                    div(class="well")
                      div(class="row")
                        div(class='col-sm-12')
                          input(type="text", class="form-control", id="cc_holder_name", placeholder="Credit card holder name")
                      div(class="row")
                        div(class='col-sm-12')
                          input(type="text", class="form-control", id="cc_number", placeholder="Credit card number")
                      div(class='row')
                        div(class='col-sm-6')
                          input(type="text", class="form-control", id="cc_expire", placeholder="MM/YYYY")
                        div(class='col-sm-6')
                          input(type="text", class="form-control", id="cc_ccv", placeholder="CCV")
                    div(class="clearfix")
                      p(class="pull-left payment_process_loader")
                        span(class="fa fa-spinner fa-spin")
                        span Please wait ...
                      button(type="submit", id="sbm_button", class="btn btn-primary pull-right", onclick="return Payments._submitPaymentForm()") Submit
  footer
    script(type='text/javascript', src='/js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/underscore.js')
    script(type='text/javascript', src='/js/toastr.min.js')
    script(type='text/javascript', src='/js/jquery.payform.min.js')
    script(type='text/javascript', src='/js/inputmask.js')
    script(type='text/javascript', src='/js/jquery.inputmask.js')
    script(src='https://js.braintreegateway.com/js/braintree-2.23.0.min.js')
    script(type='text/javascript', src='/js/payments.js')
