/* line 5, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 16, ../sass/screen.scss */
* html .clearfix {
  zoom: 2;
}

/* IE6 */
/* line 17, ../sass/screen.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 19, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 24, ../sass/screen.scss */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 29, ../sass/screen.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  position: relative;
  padding-right: 0px !important;
  overflow-x: hidden;
}
/* line 43, ../sass/screen.scss */
body .form-control.error {
  border-color: #a94442;
}
/* line 48, ../sass/screen.scss */
body .relative {
  position: relative;
}
/* line 52, ../sass/screen.scss */
body .cc_card_type {
  display: none;
  position: absolute;
  top: 13px;
  right: 10px;
}
/* line 57, ../sass/screen.scss */
body .cc_card_type.active {
  display: block;
}
/* line 63, ../sass/screen.scss */
body .payment_form .row {
  margin-bottom: 15px;
}
/* line 65, ../sass/screen.scss */
body .payment_form .row:last-child {
  margin-bottom: 0px;
}
/* line 69, ../sass/screen.scss */
body .payment_form .payment_process_loader {
  display: none;
  font-size: 14px;
  line-height: 34px;
}
/* line 74, ../sass/screen.scss */
body .payment_form .payment_process_loader span:first-child {
  margin-right: 5px;
}
/* line 78, ../sass/screen.scss */
body .payment_form .payment_process_loader.active {
  display: block;
}
